.navbar {
  position: "fixed";
  width: 100%;
  height: 5.625rem;
  left: 0px;
  top: 0px;
  min-width: '30rem';
}

.default-profile {
  position: absolute;
  right: 15vw;
  top: 20px;
  // background: url("../../assets/images/default_profile.png");
}

.logo-navbar {
  position: absolute;
  width: 60px;
  height: 60px;
  left: calc(0% + 30px);
  top: 15px;
}
