.project-preview-container {
  position: absolute;
  align-items: center;
  text-align: center;
  display: flex;
  // height: calc(100% - 5.625rem);
  width: 100%;
}

.project-preview-detail {
  position: static;
  // min-width: 24.3125rem;
  min-width: 58vw;
  height: 20rem;
  margin: 64px 32px 0 32px;

  background: #f3f3f3;
  border-radius: 20px;
  padding: 20px 50px 0 20px;
}
